@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or global.css */
:root {
  --color-primary: #000; /* Light mode primary color */
  --color-secondary: #888888; /* Light mode secondary color */
  --color-yellow: #ffc800;
  --bg-primary: #fff;
  --bg-secondary: #f0f0f0;
  font-weight: 600;
  font-family: "Nunito";
  font-size: 9px;
}

.dark {
  --color-primary: #fff; /* Dark mode primary color */
  --color-secondary: #aaa; /* Dark mode secondary color */
  --color-yellow: #ffc800;
  --bg-primary: #2a2a2a;
  --bg-secondary: #2e2e2e;
  font-family: "Nunito";
}

* {
  font-size: 15px;
  color: var(--color-primary);
  font-family: "Nunito";
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #121212;
  font-size: 10px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

@media (max-width: 640px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1024px) {
  html {
    font: 12px;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: none;
    scrollbar-color: #a7a7a7 #e5e7eb;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
}
