@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 15px;
  color: white;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #121212;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}
